<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CRUD</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
  <h1> CREAR EMPLEADO</h1>   
        <form action="/store" method="post" enctype="multipart/form-data">
            <!-- method post para enviar archivos. -->
            <!-- enctype multipart/form-date, hace q se envie el archivo, sino no se envia.  -->
            <div>
                <label for="nombre"> Nombre:</label>
                <input type="text" id="nombre" name="nombre">
            </div>
            <div>
                <label for="email">Correo:</label>
                <input type="email" id="email" name="email">
            </div>
            <div>
                <label for="imagen">Foto:</label>
                <input type="file" id="imagen" name="imagen"> 
            </div>
            <button type="submit">GUARDAR</button>
        </form>

    </body>
</html>